.loader_container {
  display: flex;
  justify-content: center;
}

.dashboard_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}

.dashboard_container h1 {
  margin: 0;
}

.dashboard_content {
  margin-top: 2rem;
  width: 60%;
}

.dashboard_content .content_header {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  padding: 0 5px;
  border-bottom: 2px solid #134074;
  font-weight: bold;
  color: #134074;
}

.post_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10px;
  border-bottom: 2px solid #8da9c4;
}

.post_row a,
.post_row button {
  width: 100px;
  margin: 0 5px;
}

.post_row button {
  height: 40px;
}

.no_posts {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  gap: 20px;
}

.no_posts p {
  font-size: 1.2rem;
}

.no_posts a {
  padding: 5px 20px;
  font-weight: 400;
}
